<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12 text-center" id="top-bar">
                <img id="burgericon" src="/assets/img/burger-icon1.png" alt="burger" />
                <h1> Eat-Da-Burger! </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 text-left" class="task">
                {{#each burger_data}}
                {{#unless this.devoured}}

                <pre>{{this.id}}. {{this.burger_name}}
					</pre>
                <div class="col-lg-2 text-center">
                    <form class="devour-form button-size">
                        <input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
                        <button type="submit" class="btn btn-default">Devour it!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>

            <div class="col-lg-3 text-center" class="task">
                {{#each burger_data}}
                {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
                {{/if}}
                {{/each}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center enter_section">
                <form>
                    <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
                    <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
                </form>
                <p>Enter the name of a burger you want to eat. <br>Click the "Submit" button to add to the list.</p>
            </div>
        </div>
    </div>
</div>